In [1]:
# pip install "dask[complete]"

In [2]:
# pip install dask-ml

Starting Dask Client

In [3]:
from dask.distributed import Client 
client = Client() # local Dask Client
print("Dashboard: ", client.dashboard_link)

Dashboard:  http://127.0.0.1:8787/status

Loading Black Friday Dataset w Dask Dataframe

In [4]:
import dask.dataframe as dd

In [5]:
df = dd.read_csv(r"C:\Users\hp\OneDrive\Desktop\SEM7PRACS\BDA\exp2\blackfriday_train.csv")

In [6]:
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

Checking for missing values

In [7]:
missing_counts = df.isnull().sum()
print(missing_counts.compute())

User_ID                            0
Product_ID                         0
Gender                             0
Age                                0
Occupation                         0
City_Category                      0
Stay_In_Current_City_Years         0
Marital_Status                     0
Product_Category_1                 0
Product_Category_2            173638
Product_Category_3            383247
Purchase                           0
dtype: int64

In [8]:
df.Product_Category_2.head()

0     NaN
1     6.0
2     NaN
3    14.0
4     NaN
Name: Product_Category_2, dtype: float64

Filling up missing values

Converting categorical columns into categorical type

Code them into integers (One Hot Encoding)

Train-test (80/20)

Converting dataframes to Dask arrays for compatibility with Dask ML models

Train Linear Regression model

Predictions

R2 score

In [9]:
client.close()